
                        <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                            <ul class="list-unstyled mb-0">
                                {{ range .Site.Params.contact.list }}
                                <li class="mb-2"><i class="{{ .icon }} fa-fw fa-lg mr-2"></i><a class="resume-link" href="{{ .url | safeURL }}">{{ .text }}</a></li>
                                {{ end }}
                                <li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>{{ .Site.Params.contact.location }}</li>
                                <li class="mb-0"><i class="fas fa-car-alt fa-fw fa-lg mr-2"></i>{{ .Site.Params.contact.permis }}</li>
                            </ul>
                        </div><!--//resume-contact-->
